/*style goes here*/
#masterBox{
  border:2px solid black;
  border-radius: 10px;
  height:700px;
  width:1000px;
  background-color:red;
  display:flex;
  flex-direction: column;
  align-items:center;
}
.display{
  padding:0px;
  margin-top:35px;
  border:2px solid black;
  border-radius:10px;
  width:920px;
  height:500px;
  background-color:white;
  display:grid;
  grid-template-columns:repeat(var(--columns),1fr);
  grid-template-rows:repeat(var(--rows),1fr);
}
.controlBox{
  margin-top:25px;
  width:990px;
  height:112px;
  display:flex;
  justify-content:center;
  align-items:center;
}
button{
  border-radius:5px;
  margin:5px;
  background-color:#c0c0c0;
  font-size:20px;
  font-weight:999;
}
.darker{
  background-color:#848884;
}
.erase{
  font-size:30px;
  color:#FFFAFA;
  background-color:#848884;
  font-weight:200;
/*  vertical-align:top;
  transform:rotate(7deg);
  -webkit-transform:rotate(90deg);  **gonna leave this button horizontal  */
}
.square{
/*  border:1px solid black;  **decided on no border for the squares  */
  margin:0px;
  padding:0px;
}
.knob{
  background-color:black;
  height:120px;
  width:120px;
  border-radius:60px;
}
.left{
  margin-right:50px;
}
.right{
  margin-left:50px;
}
.small{
  height:2px;
  width:2px;
}
.medium{
  height:5px;
  width:5px;
}
.large{
  height:10px;
  width:10px;
}
.black{
  background-color:black;
}
.psych1{
  background-color:#D0B1FC;
}.psych2{
  background-color:#F7C5DD;
}.psych3{
  background-color:#FAEDC7;
}.psych4{
  background-color:#98E2F7;
}.psych5{
  background-color:#CAEEBE;
}

/*flexbox to organize the squares*/






